@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public%20Sans:wght@400;800&display=swap');

html {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.barlow{
  font-family: '__Barlow_59217c','__Barlow_Fallback_59217c',Helvetica,Arial,sans-serif;
}

.public-sans{
  font-family: '__Public_Sans_a5724b','__Public_Sans_Fallback_a5724b',Helvetica,Arial,sans-serif;
}